# Replication factor
RF=3

# Your own ZeroTier IP
MY_IP=0.0.0.0

# Device 1's ZeroTier IP (The Leader)
LEADER_IP=0.0.0.0

# List of all device IP (Comma separated)
DB_HOSTS=0.0.0.0

YB_DATABASE=postgres
YB_USER=yugabyte
YB_PASSWORD=yugabyte
