# Replication factor
RF=3

# Your own ZeroTier IP
MY_IP=10.147.17.12

# Device 1's ZeroTier IP (The Leader)
LEADER_IP=10.147.17.11

# List of all device IP (Comma separated)
DB_HOSTS=10.147.x.11,10.147.x.12,10.147.x.13
